<% unless @serch_books_count.nil? %>
  <h3>検索結果</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>投稿数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @serch_books_count %></td>
      </tr>
    </tbody>
  </table>
<% end %>